
body {
  font-family: "Gabarito", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #D8BFD8;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  color: #423F40;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: #ffffff;
}

h3 {
  font-size: 1.17em;
  font-weight: 700;
  color: #ffffff;
}

header {
  font-size: 1em;
  font-weight: 400;
  color: #423F40;
  
}

header h1 {
    background-color: #8D093F;
    color: white;
    padding: 10px;
}

nav {
  font-size: 1em;
  font-weight: 700;
  color: #8D093F;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.card ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card li {
    margin: 10px;
}

main {
  font-size: 1em;
  font-weight: 400;
  color: #423F40;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;

}

.card {
    background-color: #8D093F;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #423F40;
    width: auto;
    display: inline-block;
    text-align: center;

}

.card a {
    color: #D8BFD8;
    margin: 10px;
}

footer {
  font-size: 1em;
  font-weight: 400;
  color: #423F40;
  display: flex;
}

a {
  text-decoration: none;
  color: #8D093F;
}

nav a:hover {
	text-decoration:overline;
    background-color: aliceblue;
}

div {
    padding: 10px;
    display: flex;
}

p {
    padding: 10px;
}

img {
    border: 1px solid #9e0336;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #470f22;
}
