@media screen and (min-width: 401px) {
    div {
        grid-template-columns: 1fr 1fr 1fr; /* Three columns for larger screens */
        grid-gap: 1rem;
        display: grid;
        justify-items: center;
    }
    button {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: row;
    }
}